$violeta:#572EE5;
$violeta2:#562ee5c7;
$gris:#F3F5F8;
$grisIconoFooter:#CDD6E0;
$grisOscuro:#9CAFC3;// el del mas del menu
$verde:#50E3C2;
$backgroundModoOscuro:#37383C;
$backgroundModoOscuro3:#484a50;
$backgroundModoOscuro2:#222326 ;
$blanco:#FFFFFF;
$negro:#000000;
$tipografiaMonserratBold: 'Montserrat', sans-serif;
$tipografiaMonserratMedium: 'Montserrat', sans-serif;
$tipografiaRobotoRegular:'Roboto', sans-serif;;